.app{
    /* background-color: aliceblue; */
    margin: 40px auto;
    width: 100%;
    border:1px solid #777;
    box-shadow: 1px 4px 7px rgba(0,0,0,.5);
    height: 140vh;
}
.text{
    text-indent: 1.5em;
}
.remove-btn {
    margin-right: 0.5rem;
  }
  
  .item-enter {
    /* opacity: 0; */
    transform: translateX(-350px);
  }
  .item-enter-active {
    /* opacity: 1; */
    transform: translateX(0px);

    transition: all 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    /* opacity: 0; */
    transform: translateX(-350px);
    transition: all 500ms ease-in;
  }
  .loadercenter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }